<h4>資料館</h4>
<div class="panel-body">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data1_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data1_collapse">「熟女」と「ロリ」の単語検索比率</a>
        </h4>
      </div>
      <div id="data1_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="mvsl-pie-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              動画検索時のキーワードで、「ロリ」と「熟女」の検索回数を比較したものです。
            </p>
            <p>
              見事に半々になっていて驚きですね！<br>
              個人的には「ロリ」:「熟女」= 7 : 3 ぐらいだと思っていたのですが…
            </p>
            <p>
              未成年に対して性行為すると犯罪になりますが、熟女に対しては全く問題ないので、<br>
              熟女好きの方が容易に性欲満たせるのかなぁとか思ったりします。
            </p>
            <p>
              余談ですが、私はロリも熟女も好きではないので、このキーワードで検索したことはないです！
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data2_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data2_collapse">バストサイズ別単語検索比率</a>
        </h4>
      </div>
      <div id="data2_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              動画検索時のキーワードで、バストサイズ別に検索回数を比較したものです。
            </p>
            <p>
              B,C,Dカップで検索している人が全くいないのが興味深いですね。<br>
              タイトルにそれらの単語が含まれてることはかなり少ないことと、あえて検索しなくてもこの辺りのバストサイズは普通に見られること辺りが原因でしょうか。
            </p>
            <p>
              割合で言うと、GカップとHカップがそれぞれ23,24%で2トップですね。<br>
              みなさん大きなもの好きすぎませんかね？って感じです。<br>
              ちなみに「貧乳」と「巨乳」の検索回数を比較すると約1:2で、やっぱり巨乳好きの方が多いようですね。
            </p>
            <p>
              余談ですが、私はしばしば「Gカップ」で検索します。他のサイズはほとんどしません。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data3_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data3_collapse">検索回数の多いキーワード</a>
        </h4>
      </div>
      <div id="data3_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>キーワード</th>
                    <th>#</th>
                    <th>キーワード</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>盗撮</td>
                    <td>9</td>
                    <td>JK</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>無修正</td>
                    <td>10</td>
                    <td>流出</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>素人</td>
                    <td>11</td>
                    <td>レイプ</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>個人撮影</td>
                    <td>12</td>
                    <td>熟女</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>無</td>
                    <td>13</td>
                    <td>ロリ</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>ナンパ</td>
                    <td>14</td>
                    <td>媚薬</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>オナニー</td>
                    <td>15</td>
                    <td>JC</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>マッサージ</td>
                    <td>16</td>
                    <td>フェラ</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              動画検索時のキーワード検索回数をランキングしたものです。
            </p>
            <p>
              みなさんはこれを見て納得しますか？<br>
              私が普段検索しないようなキーワードが並んでいて、自分がマイナーなのかなぁと思ってしまいます。<br>
              特に「無修正」を退けて1位になった「盗撮」には驚きしかないです。
            </p>
            <p>
              この結果を見るに、<br>
              <b>個人撮影/盗撮 な撮影方法で、素人JKにナンパして、マッサージした後にオナニーしてもらう無修正動画</b><br>
              を作れば一番売れるんですかね！？
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data4_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data4_collapse">活発なユーザ</a>
        </h4>
      </div>
      <div id="data4_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ユーザID</th>
                    <th>1日当たりの再生回数</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>4057168</td>
                    <td>1.73</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>8095941</td>
                    <td>0.99</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>2160284</td>
                    <td>0.95</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>8282158</td>
                    <td>0.72</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>7195937</td>
                    <td>0.64</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>2438301</td>
                    <td>0.61</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>1</td>
                    <td>0.58</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>8630990</td>
                    <td>0.57</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              ユーザ毎に1日当たりの再生回数を計算しました。
              アカウントを作成しているユーザもしていないユーザも集計対象です。
              ユーザIDは利用者には表示されていません。
            </p>
            <p>
              1位の方ダントツですね。毎日見てるのか、2日に1回3本ぐらい見てるのか…<br>
              この値が増えるようにサイトを改善していきます。
            </p>
            <p>
              余談ですが、7位のID番号1は私です。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data5_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data5_collapse">活発な曜日</a>
        </h4>
      </div>
      <div id="data5_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="active-day-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              曜日毎の再生回数割合の比較です。
            </p>
            <p>
              日によってあまり大きな差はありませんが、金曜日に少なくて土曜日が多いのは、<br>
              金曜日は花金で外に遊びに行くからここに来る時間がなくて、<br>
              土曜日はその反動と、休みだから時間がたくさんあるというのが原因かなと思います。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data6_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data6_collapse">活発な時間帯</a>
        </h4>
      </div>
      <div id="data6_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="active-time-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
              時間毎の再生回数の比較です。<br>
              Y軸は再生回数ですが、何日分の合計かはヒミツです。
            </p>
            <p>
              当然ですが、時間による差が大きく、23:00~25:30がピークなのがわかります。<br>
              逆に最も少ないのは6:00~8:00で、ピーク時の1/5ぐらいです。
            </p>
            <p>
              昼間の時間でも一定数見られていますが、だれが見てるのでしょうか？<br>
              ニートな方？ 仕事中にひっそり？ それとも主婦！？
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// 熟女 vs ロリ
$('#data1_collapse_bar').click(function(){
  setTimeout(function(){
    var plotData = [{
      label: "熟女",
      data: 591
    }, {
      label: "ロリ",
      data: 569
    }];
    var plotOptions =  {
      series: {
        pie: {
          show: true
        }
      },
      grid: {
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "%p.0% %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: false
      }
    };
    $.plot($("#mvsl-pie-chart"), plotData, plotOptions);
  }, 500);
});

// バストサイズ
$('#data2_collapse_bar').click(function(){
  setTimeout(function(){
    var barData = [{
      label: "bar",
      data: [
        ["Aカップ", 11.2],
        ["Bカップ", 0],
        ["Cカップ", 0],
        ["Dカップ", 0],
        ["Eカップ", 14.2],
        ["Fカップ", 17.2],
        ["Gカップ", 23.1],
        ["Hカップ", 23.9],
        ["Iカップ", 10.4],
      ]
    }];
    var barOptions = {
      series: {
        bars: {
          show: true,
          barWidth: 0.6,
          align: "center"
        }
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
      },
      grid: {
        hoverable: true
      },
      legend: {
        show: false
      },
      tooltip: true,
      tooltipOpts: {
        content: "%y%"
      }
    };
    $.plot($("#bust-bar-chart"), barData, barOptions);
  }, 500);
});

// 活発な曜日
$('#data5_collapse_bar').click(function(){
  setTimeout(function(){
    var barData = [{
      label: "bar",
      data: [
        ["日曜日", 14.21],
        ["月曜日", 14.37],
        ["火曜日", 14.18],
        ["水曜日", 13.90],
        ["木曜日", 14.04],
        ["金曜日", 13.44],
        ["土曜日", 15.84]
      ]
    }];
    var barOptions = {
      series: {
        bars: {
          show: true,
          barWidth: 0.6,
          align: "center"
        }
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
      },
      grid: {
        hoverable: true
      },
      legend: {
        show: false
      },
      tooltip: true,
      tooltipOpts: {
        content: "%y%"
      }
    };
    $.plot($("#active-day-bar-chart"), barData, barOptions);
  }, 500);
});

// 活発な時間
$('#data6_collapse_bar').click(function(){
  setTimeout(function(){
    var timeData = [{
      data: [
        [0, 1468],
        [300000, 1448],
        [600000, 1340],
        [900000, 1332],
        [1200000, 1309],
        [1500000, 1479],
        [1800000, 1468],
        [2100000, 1486],
        [2400000, 1599],
        [2700000, 1557],
        [3000000, 1412],
        [3300000, 1386],
        [3600000, 1404],
        [3900000, 1366],
        [4200000, 1273],
        [4500000, 1334],
        [4800000, 1341],
        [5100000, 1265],
        [5400000, 1262],
        [5700000, 1209],
        [6000000, 1183],
        [6300000, 1066],
        [6600000, 1175],
        [6900000, 1126],
        [7200000, 1069],
        [7500000, 1043],
        [7800000, 981],
        [8100000, 935],
        [8400000, 913],
        [8700000, 904],
        [9000000, 786],
        [9300000, 781],
        [9600000, 802],
        [9900000, 821],
        [10200000, 711],
        [10500000, 749],
        [10800000, 605],
        [11100000, 597],
        [11400000, 535],
        [11700000, 571],
        [12000000, 556],
        [12300000, 552],
        [12600000, 530],
        [12900000, 492],
        [13200000, 554],
        [13500000, 548],
        [13800000, 478],
        [14100000, 432],
        [14400000, 467],
        [14700000, 428],
        [15000000, 432],
        [15300000, 431],
        [15600000, 461],
        [15900000, 415],
        [16200000, 375],
        [16500000, 430],
        [16800000, 391],
        [17100000, 431],
        [17400000, 417],
        [17700000, 387],
        [18000000, 374],
        [18300000, 392],
        [18600000, 384],
        [18900000, 306],
        [19200000, 310],
        [19500000, 343],
        [19800000, 334],
        [20100000, 286],
        [20400000, 309],
        [20700000, 244],
        [21000000, 245],
        [21300000, 241],
        [21600000, 279],
        [21900000, 311],
        [22200000, 294],
        [22500000, 256],
        [22800000, 346],
        [23100000, 307],
        [23400000, 250],
        [23700000, 303],
        [24000000, 304],
        [24300000, 307],
        [24600000, 245],
        [24900000, 237],
        [25200000, 266],
        [25500000, 247],
        [25800000, 268],
        [26100000, 265],
        [26400000, 241],
        [26700000, 278],
        [27000000, 248],
        [27300000, 259],
        [27600000, 250],
        [27900000, 252],
        [28200000, 216],
        [28500000, 285],
        [28800000, 220],
        [29100000, 206],
        [29400000, 226],
        [29700000, 263],
        [30000000, 241],
        [30300000, 303],
        [30600000, 294],
        [30900000, 297],
        [31200000, 280],
        [31500000, 296],
        [31800000, 344],
        [32100000, 393],
        [32400000, 430],
        [32700000, 370],
        [33000000, 357],
        [33300000, 414],
        [33600000, 430],
        [33900000, 378],
        [34200000, 374],
        [34500000, 462],
        [34800000, 428],
        [35100000, 449],
        [35400000, 504],
        [35700000, 495],
        [36000000, 468],
        [36300000, 425],
        [36600000, 508],
        [36900000, 499],
        [37200000, 514],
        [37500000, 511],
        [37800000, 523],
        [38100000, 524],
        [38400000, 495],
        [38700000, 499],
        [39000000, 531],
        [39300000, 447],
        [39600000, 466],
        [39900000, 456],
        [40200000, 493],
        [40500000, 454],
        [40800000, 513],
        [41100000, 512],
        [41400000, 457],
        [41700000, 433],
        [42000000, 518],
        [42300000, 542],
        [42600000, 493],
        [42900000, 486],
        [43200000, 558],
        [43500000, 449],
        [43800000, 427],
        [44100000, 469],
        [44400000, 485],
        [44700000, 510],
        [45000000, 457],
        [45300000, 512],
        [45600000, 443],
        [45900000, 544],
        [46200000, 489],
        [46500000, 477],
        [46800000, 412],
        [47100000, 429],
        [47400000, 432],
        [47700000, 416],
        [48000000, 473],
        [48300000, 467],
        [48600000, 529],
        [48900000, 504],
        [49200000, 523],
        [49500000, 433],
        [49800000, 427],
        [50100000, 459],
        [50400000, 526],
        [50700000, 516],
        [51000000, 515],
        [51300000, 510],
        [51600000, 516],
        [51900000, 549],
        [52200000, 575],
        [52500000, 556],
        [52800000, 502],
        [53100000, 512],
        [53400000, 504],
        [53700000, 491],
        [54000000, 447],
        [54300000, 480],
        [54600000, 553],
        [54900000, 542],
        [55200000, 490],
        [55500000, 522],
        [55800000, 493],
        [56100000, 527],
        [56400000, 520],
        [56700000, 550],
        [57000000, 522],
        [57300000, 548],
        [57600000, 529],
        [57900000, 491],
        [58200000, 533],
        [58500000, 542],
        [58800000, 527],
        [59100000, 538],
        [59400000, 460],
        [59700000, 453],
        [60000000, 506],
        [60300000, 498],
        [60600000, 537],
        [60900000, 556],
        [61200000, 541],
        [61500000, 515],
        [61800000, 511],
        [62100000, 490],
        [62400000, 505],
        [62700000, 533],
        [63000000, 581],
        [63300000, 569],
        [63600000, 656],
        [63900000, 532],
        [64200000, 485],
        [64500000, 515],
        [64800000, 514],
        [65100000, 486],
        [65400000, 533],
        [65700000, 504],
        [66000000, 501],
        [66300000, 547],
        [66600000, 466],
        [66900000, 488],
        [67200000, 445],
        [67500000, 450],
        [67800000, 489],
        [68100000, 440],
        [68400000, 383],
        [68700000, 429],
        [69000000, 498],
        [69300000, 516],
        [69600000, 562],
        [69900000, 576],
        [70200000, 490],
        [70500000, 467],
        [70800000, 426],
        [71100000, 441],
        [71400000, 436],
        [71700000, 455],
        [72000000, 400],
        [72300000, 444],
        [72600000, 475],
        [72900000, 496],
        [73200000, 451],
        [73500000, 490],
        [73800000, 423],
        [74100000, 432],
        [74400000, 520],
        [74700000, 525],
        [75000000, 487],
        [75300000, 508],
        [75600000, 494],
        [75900000, 487],
        [76200000, 483],
        [76500000, 491],
        [76800000, 459],
        [77100000, 551],
        [77400000, 586],
        [77700000, 712],
        [78000000, 686],
        [78300000, 619],
        [78600000, 648],
        [78900000, 685],
        [79200000, 803],
        [79500000, 773],
        [79800000, 789],
        [80100000, 747],
        [80400000, 850],
        [80700000, 868],
        [81000000, 813],
        [81300000, 806],
        [81600000, 815],
        [81900000, 823],
        [82200000, 969],
        [82500000, 1055],
        [82800000, 1105],
        [83100000, 1187],
        [83400000, 1244],
        [83700000, 1310],
        [84000000, 1208],
        [84300000, 1329],
        [84600000, 1425],
        [84900000, 1380],
        [85200000, 1441],
        [85500000, 1430],
        [85800000, 1422],
        [86100000, 1497]
      ]
    }];
    var graphOptions = {
      yaxis: {
        min: 0
      },
      xaxis: {
        mode: "time"
      },
      grid: {
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "%x: %y"
      }
    };
    $.plot($("#active-time-chart"), timeData, graphOptions);
  }, 500);
});


</script>
