<div class="tab-pane fade" id="donate">
	<h4>募金</h4>	
	<p>このページを開いていただきありがとうございます。</p>
	<p>こんな所を見るのは<b>心優しい方</b>か好奇心旺盛な人しかいないでしょう。</p>
	<p>募金の方法として2つの方法を用意しました。</p>
	<ul>
  	<li>下のamazonのリンクを経由して商品を買っていただく方法です。商品価格の2~3%が管理者のもとに入ります。</li>
		<li>クレジットカードを使用して直接募金していただく方法です。(実装予定)</li>
	</ul>
	<div class="col-lg-4">
  	<div class="panel panel-default">
    	<div class="panel-heading">
      	<b>間接的に募金する</b>
     	</div>
    	<div class="panel-body">
				<center><iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=showwin-22&o=9&p=20&l=ez&f=ifr&f=ifr" width="120" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
				</center>
				<p>このリンクで開いたウィンドウから<br>お買い上げください。</p>
     	</div>
   	</div>
	</div>
	<div class="col-lg-4">
 		<div class="panel panel-default">
  		<div class="panel-heading">
  			<b>直接募金する</b>
     	</div>
   		<div class="panel-body">
  			<p>近日中に実装予定です。</p>
		 		<p>もうしばらくお待ちください</p>
     	</div>
   	</div>
 	</div>
	<div class="col-lg-4">
		<!-- admax -->
		<script type="text/javascript" src="http://adm.shinobi.jp/s/395f39818cae2b72e0e2001f1ee28e9f"></script>
		<!-- admax -->
	</div>
	<p>ご理解ありがとうございます。<br>これからも一生懸命FC*FC Playを運営していきますので、よろしくお願いします。</p>
</div>