<h4>履歴</h4>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="hisTable">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>時間</th>
					</tr>
				</thead>
				<tbody>
				<% @histories.each do |video| %>
					<tr>
						<td>
							<div class="col-md-120px">
								<%= link_to image_tag(video.image_url, width: 108, height: 81), play_path(title: video.title) %>
							</div>
							<%= video.adult ? (link_to video.title, play_path(title: video.title), class: "text-danger") : (link_to video.title, play_path(title: video.title)) %>
						</td>
						<td>
							<% if video.duration %>
								<%= video.duration %>
							<% else %>
								<%= "\s" %>
							<% end %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('#hisTable').dataTable({
			"bDeferRender": true,
			"bLengthChange": false,
			"bInfo": false,
			"bSort": false,
			"bFilter": false
		});
	});
</script>
