<h4>お知らせ</h4>
<p>2014年3月17日,FC2に怒られたためサイトの方針を<b>「管理人がオススメするFC2動画を楽しんでもらうサイト」</b>へと変更致しました。</p>
<p>FC*FC Playでは「検索」や「人気」機能を使って自分の見たい動画を見つけて頂く事になります。</p>
<p><b><a href="#" data-toggle="modal" data-target="#myModal1">ユーザー登録</a>をする事で自分のお気に入りの動画を登録しておく事ができます</b>ので、どうぞご活用ください。</p>
<p>迷惑をおかけしますが、ご理解とご協力をお願いします。</p><br>

<div class="col-lg-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			最新アップデート : Version 3.1<small class="text-muted"><i class="fa fa-time"></i>　 2014/10/21</small>
		</div>
		<div class="panel-body">
			<ul>
				<li>動画を再生したまま、お気に入りの追加/削除/コメント変更 ができるようになりました。</li>
				<li>動画を再生したまま、再生画面の大きさ変更ができるようになりました。</li>
			</ul><hr>
				<%= link_to '開発記録', log_path %>
		</div>
	</div>
</div>
