<h4>資料館</h4>
<div class="panel-body">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data1_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data1_collapse">「熟女」と「ロリ」の単語検索比率</a>
        </h4>
      </div>
      <div id="data1_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="mvsl-pie-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data2_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data2_collapse">バストサイズ別単語検索比率</a>
        </h4>
      </div>
      <div id="data2_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data3_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data3_collapse">検索回数の多いキーワード</a>
        </h4>
      </div>
      <div id="data3_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data4_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data4_collapse">活発なユーザ</a>
        </h4>
      </div>
      <div id="data4_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data5_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data5_collapse">活発な曜日</a>
        </h4>
      </div>
      <div id="data5_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="data6_collapse_bar" data-toggle="collapse" data-parent="#accordion" href="#data6_collapse">活発な時間帯</a>
        </h4>
      </div>
      <div id="data6_collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-6">
            <div class="flot-chart">
              <div class="flot-chart-content" id="bust-bar-chart"></div>
            </div>
          </div>
          <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// 熟女 vs ロリ
$('#data1_collapse_bar').click(function(){
  setTimeout(function(){
    var plotData = [{
      label: "熟女",
      data: 400
    }, {
      label: "ロリ",
      data: 420
    }];
    var plotOptions =  {
      series: {
        pie: {
          show: true
        }
      },
      grid: {
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: false
      }
    };
    $.plot($("#mvsl-pie-chart"), plotData, plotOptions);
  }, 500);
});

// バストサイズ
$('#data2_collapse_bar').click(function(){
  setTimeout(function(){
    var barData = [{
      label: "bar",
      data: [
        [1355521600000, 10],
        [1355040000000, 20],
        [1355223600000, 30],
        [1355306400000, 20],
        [1355487300000, 25],
        [1355571900000, 36]
      ]
    }];
    var barOptions = {
      series: {
        bars: {
          show: true,
          barWidth: 43200000
        }
      },
      xaxis: {
        mode: "time",
        timeformat: "%m/%d",
        minTickSize: [1, "day"]
      },
      grid: {
        hoverable: true
      },
      legend: {
        show: false
      },
      tooltip: true,
      tooltipOpts: {
        content: "x: %x, y: %y"
      }
    };
    $.plot($("#bust-bar-chart"), barData, barOptions);
  }, 500);
});


</script>
