<div class="row">
  <div class="col-lg-12">
    <div align="center">
    	<h1>Internal Server Error <small><font face="Tahoma" color="red">Error 500</font></small></h1>
      <br />
      <p>管理者のプログラミング能力不足のせいです。<br>ごめんなさい。許してください。</p></p>
    	<p><b>下のリンクからトップページに戻り、再びこのサイトでお楽しみください</b></p><br>
     	<a href="/" class="btn btn-large btn-outline btn-info"><i class="icon-home icon-white"></i>FC*FC で Play する！</a>
   	</div><br><br>
    <div class="col-lg-12">
      <center>
				<%= image_tag "500.png"%>
			</center>
    </div>
  </div>
</div>
